.navbar {
		/*color: #EEE7B5;*/
	background-color: #C9271A;
	margin-bottom: 0%;
	border: none;
}

p{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Merriweather', serif;
}

.navbar-default .navbar-nav>li>a {
    color: #EEE7B5;
}
.navbar-default .navbar-brand {
    color: #EEE7B5;
}
.dark {
	background-color: black;
	opacity: 0.6;
	filter: alpha(opacity=);
	padding:100px 0px;
}
.section-uno{
	background-image: url(../img/creamy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*corregir tipografia*/
.creme{
	color: #EEE7B5;
	margin-top: 5%;
}
.the{
color: #EEE7B5;

}

/*corregir justificacion del texto*/
.parrafo-oh-so{
margin-top: 3%;
justify-content: center;
}

.section-dos{
	padding: 3% 5%;
	color: #C9271A;
	background-color: #EEE7B5;
}
 .imagen-oh-so{
 	padding: 5%;
 	width: 100%;
 }

 .section-tres{

	padding: 5%;
	color: #EEE7B5;
	background-color: #C9271A;
}

.section-cuatro{
	padding: 5%;
	padding-bottom: 8%;
	color:  #C9271A;
	background-color: #EEE7B5;
}

.glyphicon, .icono {
	font-size: 70px;
}

.desktop{
	margin-top: 0;
}

 .footer-parrafo{
	padding: 2%;
	margin-bottom: 0%;
	color: #EEE7B5;
	background-color: #C9271A;
}